// Specific CSS for your home-page


body.homepage{
  background-color: black !important;
}

.white{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  z-index: -1;
}


.images{
  width: 50%;
}

.description-buttons{
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.content-description{
  width: auto;
  line-spacing: 1.5px;
  h1{
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0px;
  }
  h3{
    font-size: 16px;
    margin: 15px 0px;
  }

  p{
    font-size: 12px;
    font-weight: italic;
    margin: 15px 0px;
    opacity: 0.7;
  }
}

.jordan1{
  flex-direction: column;
  margin: 10px
}

.jordan2{
  flex-direction: column;
  margin: 10px;
}

.image{
  width: 100%;
  margin: 10px;
  border-radius: 8px;
}
.image-1{
  display: block;
  position: relative;
  top: 16px;
}
.image-2{
  display: block;
  position: relative;
  top: 30px;
}

.image-4{
  display: block;
  position: relative;
  top: 21px;
}

.fa-arrow-right{
  width: 90px;
}

.arrow1{
  flex-direction: column;
  p{
    font-size: 10px;
    margin: 0px !important;
  }
}

.sign-log{
  opacity: 0.6;
  font-size: 11px;
}

// Home Sign in

.section1{
  margin: 80px 0px 120px;
  padding: 0px 40px;
}

.content{
  margin-top: 100px;
  width:650px;
  h1{
    font-family: 'Six Caps', sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    font-weight: bold;
  }
}

.iphonex{
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.content-2{
  width: 400px;
  margin-top: 100px;
  color: white;
  text-align: center;
  h1{
    font-family: 'Six Caps', sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
  }
  p{
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}

.homebig{
  position: relative;
  right: 86px;
  width: 769px;
}



.margin{
  margin: 20px 0px 52px 0px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.button{
  margin-top: 20px;
}

.drop{
  margin: 30px 0px;
}





















