// Specific CSS for your home-page
body.homepage{
  background-color: black !important;
}

@media only screen and (max-width: 600px){
  .banner{
    flex-direction: column;
  }

  .description-buttons{
    width: 100% !important;
  }

  .white{
    display: none;
  }

  .content-description{
  width: auto;
  color: white !important;
  }

  .footer{
    background-color: black;
    color: white !important;
  }
  .footer-links a{
    color: white !important;
  }
}

.white{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  z-index: -1;
}


.images{
  width: 50%;
}

.description-buttons{
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  width: 50%;
}

.content-description{
  width: auto;

  h1{
    font-size: 32px;
    font-weight: bold;
  }
  h3{
    font-size: 16px;
  }

  p{
    font-size: 8px;
    font-weight: italic;
  }
}

.button{
  margin-top: 40px;
}

.buttons{
  margin-top: 40px;
}
