// Specific CSS for your home-page


body.homepage{
  background-color: black !important;
}

.white{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  z-index: -1;
}


.images{
  width: 50%;
}

.description-buttons{
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.content-description{
  width: auto;

  h1{
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0px;
  }
  h3{
    font-size: 16px;
    margin: 15px 0px;
  }

  p{
    font-size: 12px;
    font-weight: italic;
    margin: 15px 0px;
  }
}

.button{
}

.buttons{
}

.jordan1{
  flex-direction: column;
  margin: 10px
}

.jordan2{
  flex-direction: column;
  margin: 10px;
}

.image{
  width: 100%;
  margin: 10px;
  border-radius: 8px;
}
.image-1{
  display: block;
  position: relative;
  top: 16px;
}
.image-2{
  display: block;
  position: relative;
  top: 30px;
}

.image-4{
  display: block;
  position: relative;
  top: 25px;
}

.fa-arrow-right{
  width: 90px;
}

.arrow1{
  flex-direction: column;
  p{
    font-size: 10px;
    margin: 0px !important;
  }
}

// Card Home Animation








































