// Specific CSS for your home-page


body.homepage{
  background-color: black !important;
}

@media only screen and (max-width: 600px){
  .banner{
    flex-direction: column;
  }

  .description-buttons{
    width: 100% !important;
    height: 500px;
  }

  .images{
    width: 100% !important;
  }

  .image{
    margin: 0px !important;
  }

  .white{
    display: none;
  }

  .content-description{
  width: auto;
  color: white !important;
  }
  .footer-copyright{
    font-size: 8px;
    justify-content: space-between !important;
    width: 100%;
    padding-left: 12px;
  }
  .footer{
    background-color: black;
    color: white !important;
    margin-top: 30px;
  }
  .footer-links a{
    color: white !important;
  }

  .btn-2home{
    color: white !important;
    align-items: center;
  }

  .arrow1{
    display: none !important;
  }

  .button{
    justify-content: center !important;
  }

  .content-description{
    text-align: center !important;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}

.white{
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  z-index: -1;
}


.images{
  width: 50%;
}

.description-buttons{
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.content-description{
  width: auto;

  h1{
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0px;
  }
  h3{
    font-size: 16px;
    margin: 15px 0px;
  }

  p{
    font-size: 10px;
    font-weight: italic;
    margin: 15px 0px;
  }
}

.button{
}

.buttons{
}

.jordan1{
  flex-direction: column;
  margin: 10px
}

.jordan2{
  flex-direction: column;
  margin: 10px;
}

.image{
  width: 100%;
  margin: 10px;
  border-radius: 8px;
}
.image-1{
  display: block;
  position: relative;
  top: 16px;
}
.image-2{
  display: block;
  position: relative;
  top: 30px;
}

.image-4{
  display: block;
  position: relative;
  top: 25px;
}

.fa-arrow-right{
  width: 90px;
}

.arrow1{
  flex-direction: column;
  p{
    font-size: 10px;
    margin: 0px !important;
  }
}
