.index{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-show-sneaker {
  width: 340px;
 display: flex;
 justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 16px;
  margin: 50px 0px;
}

.img-cards{
  width: 532px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 80px 0px;
  align-items: center;
  padding: 10px 70px;
  h2{
    font-size: 24px;
  }
}

.img-show-sneaker:hover{
  border-radius: 5px;
  -webkit-transition: 0.35s ease-out;
  transform: scale(1.02);
  transition: 0.5s ease;
  // height: 400px;
  // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.brand{
  p{
    margin: 0px 20px;
  }
}

.closet{
  border-radius: 10px;
  margin: 20px;
}

.add{
  font-size: 70px;
  color: $primary;
}

.add:hover{
  color: $secondary;
}

.description-example{
  margin-top: 10px;

  p{
    opacity: 0.6;
  }
}

.buttonadd{
  margin-top: 20px;
}


@media (max-width: 600px){
  .cards{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px){
  .cards{
    grid-template-columns: 1fr ;
  }
}

@media (min-width: 768px){
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px){
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .img-show-sneaker {
    width: 300px !important;
    height: 200px !important;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .img-show-sneaker {
    width: 300px !important;
    height: 200px !important;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .img-show-sneaker {
    width: 300px !important;
    height: 200px !important;
  }
}
