.img-show-sneaker {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 50px 0px;
}

.img-cards{
  border: 1px solid white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px 0px;
}

.img-show-sneaker:hover{
  transform: scale(1.02);
  transition: 0.5s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
@media (max-width: 600px){
  .cards{
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px){
  .cards{
    grid-template-columns: 1fr ;
  }
}

@media (min-width: 768px){
  .cards{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px){
  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .img-show-sneaker {
    height: 450px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .img-show-sneaker {
    height: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .img-show-sneaker {
    height: 250px;
  }
}
