.description-stockx{
  flex-direction: column;
  justify-content: center;
}

.img-show{
  margin-right: 123px;
  width: 100%;
  width: 450px;
  height: 350px !important;
}

.description-stockx{
  width: 70%;
}

.buttons-show{
  margin: 30px 0px 50px 0px;
}
