.description-stockx{
  flex-direction: column;
  justify-content: center;
}

.img-show{
  margin-right: 123px;
  width: 100%;
  width: 450px;
  height: 350px;
}

.description-stockx{
  width: 70%;
}

.buttons-show{
  margin: 30px 0px 50px 0px;
}

.show-content{
  margin-top: 100px;
  margin-bottom: 80px;
}

.back-to{
  flex-direction: column;
}

.icons a{
  margin: 18px 70px !important;
}
