<div class="container index">
  <div class="row">
    <div class="col">
      <div class="text-center shop-description">
        <h1>Dixit Appear Sneakers Shop</h1>
        <p>only one item per user</p>
      </div>
      <hr>
      <h1>COMING SOON</h1>
          <!-- <div class="cards">
            <% @shops.each do |shop| %>
              <%= link_to snkshop_path(shop) do %>
                <div class="img-cards" id="image-cards">
                  <%= image_tag shop.photo_url, class: "animated fadeInUp slow img-show-sneaker" %>
                </div>
              <% end %>
            <% end %>
          </div> -->
      <hr>
    </div>
  </div>
</div>
