<div class="container">
  <h2 class= "d-flex justify-content-center title-show-user">My Rack</h2>
  <% if @user.sneakers.count == 0 %>
    <div class="d-flex justify-content-center">
      <div class="button-add text-center">
        <div class="text-center" style= "opacity: 0.5">
          <p>Empty Rack 👀.</p>
          <p>Add your first sneaker to your rack.</p>
        </div>
        <% if policy(Sneaker).create? %>
          <%= link_to new_sneaker_path do %>
            <i class="fas fa-plus-circle add"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="button-add text-center">
        <% if policy(Sneaker).create? %>
          <%= link_to new_sneaker_path do %>
            <i class="fas fa-plus-circle add"></i>
          <% end %>
        <% end %>
      </div>
        <div class="col">
              <div class="cards">
                <% @user.sneakers.each do |sneaker| %>
                  <%= link_to sneaker_path(sneaker) do %>
                    <div class="img-cards show-user d-flex text-center" id="image-cards">
                      <%= cl_image_tag sneaker.photo, class: "img-show-sneaker" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
        </div>
    </div>
  <% end %>
</div>
