<div class="container">
  <h1 class= "d-flex justify-content-center">My Rack</h1>
  <div class="row">
      <div class="col">
            <div class="cards">
              <% @user.sneakers.each do |sneaker| %>
                <%= link_to sneaker_path(sneaker) do %>
                  <div class="img-cards show-user d-flex" id="image-cards">
                    <p><%= sneaker.name %></p>
                    <%= cl_image_tag sneaker.photo, class: "img-show-sneaker" %>
                  </div>
                <% end %>
              <% end %>
            </div>
      </div>
  </div>
</div>
