<div class="container footer-home">
  <footer class="footer">
    <div class="footer-copyright d-flex">
      <p>SneakeRack App</p>
      <ul class="d-flex list">
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Leave a Feedback App</li>
      </ul>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
