<div class="footer-home">
  <footer class="footer">
    <div class="footer-copyright d-flex">
      <p>SneakeRack App</p>
      <ul class="d-flex list">
        <li>How it works?</li>
        <li>Contact Us</li>
        <li>
          <a class="typeform-share button" href="https://edoardoolivieri.typeform.com/to/DxHg5M" data-mode="popup" style="text-decoration:none;cursor:pointer;text-align:center;margin:0;height:50px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Leave a Feedback </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </li>
      </ul>
    </div>
    <div class="footer-links">
      <a href="https://github.com/Dixit-Appear"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/diddo6/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/edoardo-olivieri/"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>
</div>
