
<nav class="navbar navbar-light bg-light">
  <%= link_to "Home", root_path, class:"btn btn-outline-dark navbar-brand" %>
    <div class="new-search">
      <%= form_tag sneakers_path, method: :get, class: "form search-skills" do %>
        <%= text_field_tag :query,
          params["query"],
          class: "form-control search",
          placeholder: "Search"
        %>
      <% end %>
    </div>
</nav>
