.btn-home{
  background: transparent;
  transition: background 0.3s ease;
  color: $primary !important;
  border: 1px solid $secondary;
  padding: 8px 24px;
  font-size: 20px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.btn-home:hover{
  color: black !important;
  background-color: $secondary;
}

@media only screen and (max-width: 600px){
  .btn-home{
    padding: 4px 16px;
    font-size: 10px;
  }

  .button{
    margin-top: 15px;
  }

  .buttons{
    margin: 0px !important;
  }
}

.btn-2home{
  background: transparent;
  border: 1px solid $primary;
  transition: background 0.3s ease;
  color: black !important;
  font-size: 10px;
  border-radius: 5px;
  height: 18px;
  text-align: center;
  font-weight: lighter;
  padding: 1px 55px;
  margin-top: 11px;
}

.btn-2home:hover{
  border-color: $secondary;
  color: $primary !important;
}

.btn-stockx{
  width: 100%;
  background: transparent;
  border: 1px solid black;
  transition: background 0.3s ease;
  color: black !important;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 11px;
  font-weight: bold;
}

.btn-stockx:hover{
  border: 0px!important;
  text-decoration: none !important;
  background-color: #509e2e;
}

.btn-show-last{
  background: transparent;
  transition: background 0.3s ease;
  color: $primary !important;
  border: 1px solid $secondary;
  padding: 2px 24px;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: lighter;
}

.btn-show-last:hover{
  color: black !important;
  background-color: $secondary !important;
  text-decoration: none !important;
}

.btn-form{
  background: transparent;
  transition: background 0.3s ease;
  color: $primary !important;
  border: 1px solid $secondary;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.btn-form:hover{
  color: black !important;
  background-color: $secondary;
}

.btn-shop-index{
  background: transparent;
  border: 1px solid $primary;
  transition: background 0.3s ease;
  color: black !important;
  font-size: 10px;
  border-radius: 5px;
  height: 18px;
  text-align: center;
  font-weight: lighter;
  padding: 1px 55px;
}
