.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  color: black;
}

.typeform-share{
  color: $secondary !important;
  opacity: 0.8;
}
.typeform-share:hover{
  opacity: 1;
}

.footer-copyright{
  font-size: 12px;
  align-items: center;
  p{
    font-weight: bold;
    margin: 0px !important;
  }
}

.footer-links a:hover{
  color: $primary !important;
}
