.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  color: black;
}
@media (max-width: 600px){
  .footer{
    flex-direction: column;
    justify-content: center;
  }
  .footer-copyright{
    margin-bottom: 10px;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.list {
 list-style-type: none;
 margin: 0px !important;
 li{
  margin: 0px 10px;
 }
}

.footer-copyright{
  font-size: 12px;
  p{
    font-weight: bold;
  }
}
