.form-control{
  border: 1px solid transparent !important;
  border-bottom-color: black !important;
  border-radius: 10px !important;
}

.form-control-label{
  display: none !important;
}

.log-in{
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
}

.log-form{
  margin-top: 100px;
}

.links{
  margin-top: 20px;
}

.unhappy{
  margin-top: 10px;
}

.log-form-edit{
  margin-bottom: 10px;
}

