.image-login1{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.image-signup1{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.image-login{
  width: 40%;
}

.main-form{
  justify-content: space-around;
  align-items: center;
  margin: 48px;
}

.form{
  width: 40%;
  h2{
    margin-bottom: 100px;
    font-weight: bold;
  }
}

.form-signup{
  width: 40%;
  h2{
    font-weight: bold;
  }
  p{
    margin: 30px 0px;
    text-align: center;
  }
}


input{
  border-width: 0px !important;
}

.form-control{
  border: 0px solid black;
  border-bottom: 1px solid black !important;
}

label{
  opacity: 0.7;
}

a{
  color: black;
  text-decoration: none !important;
}

a:hover{
  color: $primary;
}

.user_remember_me{
  margin-top: 60px;
}

.form-actions{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.form-actions-signup{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.signup{
  opacity: 0.8;
  font-size: 12px;
}

.form-inputs-signup{
  margin-bottom: 30px;
}

.logout{
  padding: 0px 0px 0px 10px !important;
}

.formaccount{
  h2{
    margin-bottom: 50px !important;
  }
}
