.tag{
  color: $primary !important;
  font-weight: bold;
  z-index: 1;
}

.tag:hover{
  color: $secondary !important;
  text-decoration: none;
}

.search{
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.icon-search{
  border-bottom: 1px solid white;
  width: 24px;
}

.fa-search{
    margin-top: 12px;
  /* padding-right: 5px; */
  color: white;
  opacity: 0.9;
}

.navbar{
  padding: 0px !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
