.tag{
  color: $primary !important;
  font-weight: bold;
  font-size: 50px;
}

.tag:hover{
  color: $secondary !important;
  text-decoration: none;
}

.search{
  border: none;
  border-bottom: 1px solid $secondary;
  background-color: transparent;
}

.icon-search{
  border-bottom: 1px solid $secondary;
  width: 24px;
  height: 38px;
}

.fa-search{
    margin-top: 12px;
  /* padding-right: 5px; */
  color: $primary;
  opacity: 0.9;
}

.navbar{
  padding-top: 10px;
  padding: 0px !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $secondary !important;
    outline: 0;
    box-shadow: none !important;
}

input::placeholder{
  color: $primary !important;
  opacity: 0.4 !important;
}

.new-search{
  margin-right: 32px;
}

.dropdown-menu.show {
    display: block;
}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.dropdown-menu {
  background-color: $primary !important;
  border-radius: 10px;
  padding: 5px 0px !important;
  a{
    color: $secondary !important;
  }
}

