// Place all the styles related to the snkshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shop-description{
  p{
    font-weight: italic;
    opacity: 0.6;
    color: $primary;
  }
}

.show-content-shop{
  flex-direction: column;
}

.description-stockx-shop{
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.amount{
  color: $secondary;
  font-weight: bold;
  font-size: 30px;
}

.payment-item{
  h2{
    opacity: 0.7;
    font-size: 10px;
  }
  flex-direction: column;
  margin: 50px 0px;
}

.order-page{
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.after-button-buy{
  flex-direction: column;
  margin-top: 30px;
  font-size: 10px;
  opacity: 0.8;
}

.back-shops{
  text-decoration: none;
  opacity: 0.7;
  color: black;
  font-size: 16px;
}

.back-shops:hover{
  text-decoration: none !important;
  color: $secondary;
  opacity: 1;
}

.back-top-shop{
  margin-top: 20px;
}

