<div class="container">
  <div class="row">
    <div class="col">
          <div class="cards">
            <% @sneakers.each do |sneaker| %>
              <%= link_to sneaker_path(sneaker) do %>
                <div class="img-cards">
                  <%= cl_image_tag sneaker.photo, class: "img-show-sneaker" %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.img-cards', { interval: 900, reset: true })
  // ScrollReveal().reveal('.img-show-sneaker', { deay: 1000 })
</script>
