<div class="container">
  <div class="row">
    <div class="col">
          <h1>My list of sneakers</h1>
          <% @sneakers.each do |sneaker| %>
            <h2><%= link_to sneaker.name, sneaker_path(sneaker) %></h2>
            <%= cl_image_tag sneaker.photo, class: "img-show-sneaker" %>
            <p>Story :<%= sneaker.description %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
